@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}
